<div id="MainContainer" class="">
    @Html.Action("MultiIndex", "User")
</div>
@*<script type="text/javascript">

    $('document').ready(function () {
        var form = $("mainForm");
        //form.submit();
    });

</script>*@